{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 text-right">
                <i class="fa fa-angle-double-left changeMonthList" ref="prev" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
                <h3 class="dateLine" month="{{ month }}" year="{{ year }}">date: {{ month }} / {{ year }}  </h3>
            </div>
            <div class="col-md-4 text-left">
                <i class="fa fa-angle-double-right changeMonthList" ref="next" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Day</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody class="billList">
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <form class="formAddEvents">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description">
                        </div>
                        <div class="form-group">
                            <label for="value">Value in R$</label>
                            <input type="text" class="form-control" id="value">
                        </div>
                        <div class="form-group">
                            <label for="date">Date( optional )</label>
                            <input type="date" class="form-control" id="date">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label><input type="radio" value="0" name="type" class="type">Entrada</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label><input type="radio" value="1" name="type" class="type" checked>Saida</label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-default addEventsButton">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footerMenu">
        <div class="row">
            <div class="col-md-2 text-center">
                <span>Positive Value</span> R$ <span class="positive green"></span>
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-minus-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 text-center">
                <span>Negative Value</span> R$ <span class="negative red"></span>
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 text-center">
                <span>Balance</span> <b>R$ <span class="result bigFont green"></span></b>
            </div>
        </div>
    </div>
{% endblock %}