{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 text-right">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
                <h3>Month: January</h3>
            </div>
            <div class="col-md-4 text-left">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Day</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody class="billList">
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <form class="formAddEvents">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description">
                        </div>
                        <div class="form-group">
                            <label for="value">Value in R$</label>
                            <input type="text" class="form-control" id="value">
                        </div>
                        <div class="form-group">
                            <label for="date">Date( optional )</label>
                            <input type="date" class="form-control" id="date">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label><input type="radio" value="0" name="type" class="type">Entrada</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label><input type="radio" value="1" name="type" class="type" checked>Saida</label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-default addEventsButton">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footerMenu">
        <div class="row">
            <div class="col-md-2 text-center">
                <span>Positive Value</span> R$ 00,00
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-minus-square" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 text-center">
                <span>Negative Value</span> R$ 00,00
            </div>
            <div class="col-md-2 text-center">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-2 text-center">
                <span>Balance</span> R$ 00,00
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    $( document ).ready(function() {

        reflesh();

        $(".formAddEvents").on("click", ".addEventsButton" , function(){
            var objEvent = {
                "description" : $(this).parent().find("#description").val(),
                "value" : $(this).parent().find("#value").val(),
                "date" : $(this).parent().find("#date").val(),
                "type" : $(this).parent().find(".type:checked").val()
            }

            sendRquest("addEvents", objEvent, "POST", true, false);
        });
    });

    function reflesh(){
        console.log("REFLESH==");
        sendRquest("listEvents", false, "GET", false, function(result){ mountTable(result); });
    }

    function mountTable(result){

        console.log("MOUNTTABLE==");

        $(".billList tr").remove();

        var data = JSON.parse(result).hits.hits;

        console.log(data);

        if(data.length > 0){
            for( var i in data ){
                var icon = (data[i]._source.type == 1)? "down" : "up";
                var body = "<td><i class='fa fa-thumbs-" + icon + "'></i></td>";
                body += "<td>" + data[i]._source.date + "</td>";
                body += "<td> R$ " + data[i]._source.value + "</td>";
                body += "<td>" + data[i]._source.description + "</td>";
                body += "<td><i class='fa fa-pencil editar initialism' title='Edit'></i>";
                body += "<i class='fa fa-times excluir initialism' title='Remove'></i>";
                body += "<i class='fa fa-money registrarPagamento initialism' title='Mark payed'></i></td>";
                $(".billList").append("<tr>" + body + "</tr>");
            }

            console.log("TABLEmounted");
        }

        console.log("end mount table");
    }

    function sendRquest(route, obj, methodType, updateTable, callBack){
        console.log("SENDREQUEST== | " + "/" + route);
        $.ajax({
            cache: false,
            url: "/" + route,
            data: { data : (obj) ? obj : false  },
            method: methodType,
            success: function(data){

                console.log(data);

                console.log("before calback if");
                if(callBack !== false){
                    callBack(data);
                }

                console.log("before updateTable if");
                if(updateTable){
                    reflesh();
                }

                console.log("end send request");
            },
            error: function(data){
                console.log("errors");
                console.log(data);
            }
            }
        );
    }

</script>
{% endblock %}